__pycache__/

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# CSV / data files

data/
heart_test.csv
heart_train.csv

# CatBoost logs
catboost_info/

# Model artifacts
model.pkl
model_1000_iter.pkl

# Testing
test_client.py
Untitled.ipynb
# OS & editor files
.DS_Store
.vscode/
.idea/

# Git
*.log
